<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>춘자 : 춘자 리스트</title>

    <link href="../index.css" rel="stylesheet" type="text/css" />

</head>

<% String dCNAME=(String) session.getAttribute("uNAME"); %>

    <body>

        <div class="title">
            <img class="logo" src="../pics/logo.png" onclick="location.href='../processing.jsp?sControl=main'">
            <span class="user">
                <%= dCNAME%> 사장님, 환영합니다 !
            </span>
            <span class="serachsubmit" onclick="location.href='processing.jsp?sControl=logout'">로그아웃</span>

        </div>

        <table class="title-back">
            <td style=" width:760px; height: 260px;">
                <form action="../processing.jsp" method="post">
                    <div style="margin-left: 50px">
                        <div type="submit" class="index-border" style="text-align: center;">
                            한마디 작성
                        </div>
                        <input type="submit" value="" class="index-box">

                    </div>
            </td>
            <td style=" width:760px; height: 260px; text-align: right; font-family: 'CJFONT';
        color: #FFF3FD;">
                <div style="margin-right: 40px"><br>
                    <span style="font-size: 70px;font-weight:bold;">가게 이름</span>
                </div>
            </td>
        </table>

        <div class="view-section">

            <div class="view-left">
                <div class="view-section-title">
                    가게 소개
                </div>

                <hr class="hr1">

                <div class="view-intro">
                    <b>평균 꽃점</b>
                    <img class="view-flower" src="../pics/f.png" />
                    <br><br>
                    <b>가게 주소 📍 </b> 춘천시 한림대학길
                    <br><br>
                    <b>가게 지도 🗺️</b>
                    <br><br>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3148.87395621885!2d127.73281987582097!3d37.88663027195734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3562e5e939c43ac7%3A0x2419c3aa2130905c!2z7ZWc66a864yA7ZWZ6rWQ!5e0!3m2!1sko!2skr!4v1686336468211!5m2!1sko!2skr"
                        width="410" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe></iframe>
                    <br><br>
                    <b>가게 소개</b>
                    <pre>소개할 내용</pre>
                </div>

            </div>
            <div class="view-center">
                <div class="view-section-title">
                    가게 사진
                </div>

                <hr class="hr1">
                <div class="view-intro">

                    <img class="view-center-pic" src="../pics/indexBG.jpg">
                </div>
            </div>
            <div class="view-right">

                <div class="view-section-title">
                    손님 한마디
                </div>


                <hr class="hr1">
                <div style="margin-left: 30px;"> 
                    <b style="font-size: 20px;">
                    <img class="view-flower" src="../pics/f.png" />
                    <input type="radio" name="flowerScore" value="5">5
                    <input type="radio" name="flowerScore" value="3">4
                    <input type="radio" name="flowerScore" value="3" checked="checked">3
                    <input type="radio" name="flowerScore" value="2">2
                    <input type="radio" name="flowerScore" value="1">1
                    </b>
                </div>
                <br>

                <textarea class="serachbox" style="width: 440px; height:135px; margin-left:20px;"
                    placeholder="한마디를 남겨주세요."></textarea>
                </form>
                <br><br>
                <div class="view-intro">
                    <b>닉네임</b>
                    <br>
                    의견
                    <br>
                    <img class="view-flower" src="../pics/f.png" />
                    <br>
                    <div style="text-align: right; font-size:small">작성 시간</div>
                </div>

            </div>

        </div>





    </body>

</html>